services:
  timer:
    build:
      context: . # Use the current directory as the build context
      dockerfile: Dockerfile # Specify the Dockerfile name
    image: timer:latest # Name the built image
    container_name: timer # Name the running container
    #ports:
    #  - 5173:5173
    restart: unless-stopped # Restart policy
    networks:
      - apps
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.timer.entrypoints=websecure"
      - "traefik.http.routers.timer.tls=true"
      - "traefik.http.routers.timer.tls.certresolver=le"
      - "traefik.http.routers.timer.rule=Host(`timer.${DOMAIN}`)"      
      - "traefik.http.services.timer.loadbalancer.server.port=5173"

networks:
  apps:
    external: true